### Get DataFrame information and memory usage

#### To get basic information about a DataFrame including the column names and datatypes:

In [1]:
import pandas as pd
df = pd.DataFrame({'integers': [1, 2, 3],
 'floats': [1.5, 2.5, 3],
 'text': ['a', 'b', 'c'],
 'ints with None': [1, None, 3]})

df

   integers  floats text  ints with None
0         1     1.5    a             1.0
1         2     2.5    b             NaN
2         3     3.0    c             3.0

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   integers        3 non-null      int64
 1   floats          3 non-null      float64
 2   text            3 non-null      object
 3   ints with None  2 non-null      float64
dtypes: float64(2), int64(1), object(1)
memory usage: 224.0+ bytes

In [3]:
# for memeory_usage 

df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   integers        3 non-null      int64
 1   floats          3 non-null      float64
 2   text            3 non-null      object
 3   ints with None  2 non-null      float64
dtypes: float64(2), int64(1), object(1)
memory usage: 374.0 bytes

### List all columns in dataframe

In [4]:
list(df)

['integers', 'floats', 'text', 'ints with None']

In [5]:
df.columns

Index(['integers', 'floats', 'text', 'ints with None'], dtype='object')

### Stats summary of dataframe

To generate various summary statistics. For numeric values the number of non-NA/null values (
count), the mean (mean), the standard deviation std and values known as the five-number summary :

• min: minimum (smallest observation)
• 25%: lower quartile or first quartile (Q1)
• 50%: median (middle value, Q2)
• 75%: upper quartile or third quartile (Q3)
• max: maximum (largest observation)

In [6]:
df.describe()

       integers    floats  ints with None
count       3.0  3.000000        2.000000
mean        2.0  2.333333        2.000000
std         1.0  0.763763        1.414214
min         1.0  1.500000        1.000000
25%         1.5  2.000000        1.500000
50%         2.0  2.500000        2.000000
75%         2.5  2.750000        2.500000
max         3.0  3.000000        3.000000