#### Detecting missing values with np.nan

In [3]:
import pandas as pd
import numpy as np

In [5]:
df=pd.DataFrame({'col':[1,np.nan]})
df

   col
0  1.0
1  NaN

In [6]:
df==np.nan

     col
0  False
1  False

This is because comparing missing value to anything results in a False - instead of this you should
use

In [7]:
df=pd.DataFrame({'col':[1,np.nan]})
df.isnull()

     col
0  False
1   True

#### TIP :

##### Pandas don't support missing in attributes of type integer. For example if you have missings in the grade column:

In [10]:
#df= pd.read_csv("data.csv", dtype={'grade': int})
# error: Integer column has NA values

In this case you just should use float instead of integers or set the object dtype.

### Automatic Data Alignment (index-awared behaviour)

#### If you want to append a series of values [1,2] to the column of dataframe df, you will get NaNs:

In [11]:
import pandas as pd
series=pd.Series([1,2])

df=pd.DataFrame(index=[3,4])
df['col']=series
df

   col
3  NaN
4  NaN

because setting a new column automatically aligns the data by the indexe, and your values 1 and
2 would get the indexes 0 and 1, and not 3 and 4 as in your data frame:

In [12]:
df=pd.DataFrame(index=[1,2])
df['col']=series
df

   col
1  2.0
2  NaN

#### If you want to ignore index, you should set the .values at the end:

In [13]:
df['col']=series.values

In [14]:
df

   col
1    1
2    2