## Introduction

Categoricals are a pandas data type, which correspond to categorical variables in statistics: a
variable, which can take on only a limited, and usually fixed, number of possible values
(categories; levels in R). Examples are gender, social class, blood types, country affiliations,
observation time or ratings via Likert scales.

### objects creation

In [1]:
import pandas as pd
import numpy as np

In [3]:
s = pd.Series(["a","b","c","a","c"], dtype="category")
s

0    a
1    b
2    c
3    a
4    c
dtype: category
Categories (3, object): ['a', 'b', 'c']

In [4]:
df = pd.DataFrame({"A":["a","b","c","a", "c"]})

df["B"] = df["A"].astype('category')

df["C"] = pd.Categorical(df["A"])

df

   A  B  C
0  a  a  a
1  b  b  b
2  c  c  c
3  a  a  a
4  c  c  c

In [5]:
df.dtypes

A      object
B    category
C    category
dtype: object

In [6]:
#generating large sample of dataset
df = pd.DataFrame(np.random.choice(['foo','bar','baz'], size=(100000,3)))
df = df.apply(lambda col: col.astype('category'))

In [7]:
df.head()

     0    1    2
0  bar  foo  baz
1  foo  foo  baz
2  bar  baz  foo
3  foo  foo  baz
4  bar  foo  baz

In [10]:
df.dtypes

0    category
1    category
2    category
dtype: object

In [9]:
df.shape

(100000, 3)