### Find The Correlation Between Columns

Suppose you have a DataFrame of numerical values, for example:

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame(np.random.randn(1000, 3), columns=['a', 'b', 'c'])
df

            a         b         c
0    1.167718 -0.010838 -1.598763
1   -0.534804  0.016411 -2.088000
2   -1.089020  0.307699  1.641837
3    1.601644 -0.591866  0.165367
4   -1.248760  1.538788  0.015830
..        ...       ...       ...
995 -0.516416  0.019419  0.069446
996 -0.445046  1.232718  0.064029
997  0.900062  0.630037 -1.120366
998  1.332602  0.741071 -0.172795
999 -1.360404  1.055159  0.330580

[1000 rows x 3 columns]

In [4]:
df.corr()

          a         b         c
a  1.000000 -0.078370  0.019884
b -0.078370  1.000000 -0.005138
c  0.019884 -0.005138  1.000000

Here will find the Pearson correlation between the columns. Note how the diagonal is 1, as each column
is (obviously) fully correlated with itself.

DOC:https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.corr.html

DOC:https://www.geeksforgeeks.org/python-pandas-dataframe-corr/

pd.DataFrame.correlation takes an optional method parameter, specifying which algorithm to use.
The default is pearson. To use Spearman correlation, for example, use

In [5]:
df.corr(method='spearman')

          a         b         c
a  1.000000 -0.068735  0.017102
b -0.068735  1.000000  0.004816
c  0.017102  0.004816  1.000000